In [49]:
import numpy as np
import pandas as pd

In [53]:
data = pd.read_excel('H:/Ngampus lur/sistem cerdas/152020/Studi Kasus.xls')

In [57]:
data.tail()

   Kejadian  Cuaca Temperatur Kelembaban Berangin Bermain
9       K10  Cerah      Panas     Tinggi    Tidak   Tidak
10      K11  Cerah      Panas     Tinggi       Ya   Tidak
11      K12  Cerah     Hangat     Tinggi    Tidak   Tidak
12      K13  Cerah     Dingin     Normal    Tidak      Ya
13      K14  Cerah     Hangat     Normal       Ya      Ya

In [55]:
data.shape

(14, 6)

In [58]:
#Tahap1
#definisikan dahulu fitur x-0 sampai x-n,
#jika K15 cuaca = cerha | temperatur = dingin | kelembaban tinggi | berangin = tidak |
#maka bermain atau tidak
#hitung nilai probalitas bermain untuk semua kejadian yang ada

In [59]:
data ['Bermain'].value_counts()

Ya       9
Tidak    5
Name: Bermain, dtype: int64

In [62]:
Bermain_Ya = 9/14
Bermain_Tidak = 5/14

In [63]:
print (Bermain_Ya)
print (Bermain_Tidak)

0.6428571428571429
0.35714285714285715

In [67]:
#tahap 2
#hitung probabilitas tiap fitur yang terkait dengan kejadian K15
#p(cuaca = cerah | bermain = ya)
#p(cuaca = cerah | bermain = tidak)

In [68]:
pd.crosstab(data['Cuaca'],data['Bermain'])

Bermain  Tidak  Ya
Cuaca
Berawan      0   4
Cerah        3   2
Hujan        2   3

In [69]:
Cuaca_Cerah_Ya =2/9
Cuaca_Cerah_Tidak =3/5

In [70]:
print (Cuaca_Cerah_Ya)
print (Cuaca_Cerah_Tidak)

0.2222222222222222
0.6

In [71]:
#Tahap 2,1
#p(temperatur= dingin | Bermain =ya)
#p(temperatur= dingin | Bermain =Tidak)

In [73]:
pd.crosstab(data['Temperatur'],data['Bermain'])

Bermain     Tidak  Ya
Temperatur
Dingin          1   3
Hangat          2   4
Panas           2   2

In [86]:
#Tahap 2,2
Temperatur_Dingin_Ya = 3/9
Temperatur_Dingin_Tidak = 1/5

In [78]:
pd.crosstab(data['Kelembaban'],data['Bermain'])

Bermain     Tidak  Ya
Kelembaban
Normal          1   6
Tinggi          4   3

In [76]:
Kelembaban_Tinggi_Ya =3/9
Kelembaban_Tinggi_Tidak =4/9

In [80]:
#Tahap 2,3
pd.crosstab(data['Berangin'],data['Bermain'])

Bermain   Tidak  Ya
Berangin
Tidak         2   6
Ya            3   3

In [82]:
Berangin_Tidak_Ya =6/9
Berangin_Tidak_Tidak =2/5

In [83]:
#Tahap 3
#Kita hitung probabilitas p(X|c)
#p(x|bermain) = ya dari
#P (cuaca = cerah | bermain = ya)
#x p (Temperatur = dingin |bermain = ya)
#x p (Berangin = tidak | bermain = ya)

In [87]:
P_Bermain_Ya = Cuaca_Cerah_Ya * Temperatur_Dingin_Ya * Kelembaban_Tinggi_Ya * Berangin_Tidak_Ya

In [88]:
print (P_Bermain_Ya)

0.016460905349794237

In [89]:
P_Bermain_Tidak = Cuaca_Cerah_Tidak * Temperatur_Dingin_Tidak * Kelembaban_Tinggi_Tidak * Berangin_Tidak_Tidak

In [90]:
print (P_Bermain_Tidak)

0.021333333333333333

In [91]:
#Tahap 4
#menghitung probbilitas p(c|x)
#p (Bermain_Ya |X)
#p (Bermain_Tidak |X)

In [92]:
P_Bermain_Ya_Ya = P_Bermain_Ya * Bermain_Ya
print (P_Bermain_Ya_Ya)

0.010582010582010581

In [93]:
P_Bermain_Ya_Tidak = P_Bermain_Tidak * Bermain_Tidak
print (P_Bermain_Ya_Tidak)

0.007619047619047619